.fundoLogin {
  background-image: url("https://ik.imagekit.io/joyce/blogpessoal/serey-kim-vUePu7hAYAQ-unsplash.jpg");
  background-repeat: no-repeat;
  min-height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center center;
  font-family: 'Poppins',sans-serif;
}